.container-center.unauthorized {
    background: url("../assets/landing-bg.png") no-repeat right !important;
    background-size: cover !important;

    .content-wrapper {
        padding: 5em;
        border-radius: 10px;
        /* border: 1px solid #8eb7c3; */
        background: rgb(41 44 49 / 70%);

        h1 {
            font-size: 5rem;
            margin-bottom: 0;
        }

        h3 {
            margin-top: 0;
            color: #a1a3a3;
        }

        p {
            margin: 20px 0;
        }

        .go-back-btn {
            padding: 10px 20px;
            background-color: #8eb7c3;
            color: white;
            border: none;
            width: 300px;
            text-align: center;
            font-size: medium !important;
            font-weight: 600;
            margin-top: 15px;
        }
    }
}
